<table tuiTable [columns]="columns">

    <thead>
        <th>
            Id
        </th>
        <th>
            UserId
        </th>
        <th>
            Title
        </th>
        <th>
            Completed
        </th>

    </thead>

    <tbody *ngFor="let item of data">
        <tr>
            <td>
                {{ item.id }}
            </td>
            <td>
                {{ item.userId }}
            </td>
            <td>
                {{ item.title }}
            </td>

            <td>
                {{item.completed}}
            </td>
            <td>
                <button (click)="delete(item.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>